.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.goods {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media screen and (max-width: 1440px) {
    .categories {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1024px) {
    .categories {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .categories {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 425px) {
    .categories {
        grid-template-columns: 1fr;
    }
}