.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    justify-items: center;
    gap: 20px;
}

.imageWrapper{
    width: 250px;
    height: 400px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name, .price {
    max-width: 250px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.price {
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .categories {
        margin: 5px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        justify-items: center;
        gap: 5px;
    }
    .imageWrapper{
        width: 150px;
        height: 280px;
    }
    .name, .price {
        max-width: 150px;
        padding: 0;
        margin: 0;
    }
    p {
        font-size: smaller;
    }
    }