.container {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    text-align: justify;
}


.text {
    font-size: 16px;
    margin: 5px;
}
.text:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0 10px;
        > h2 {
            font-size: 16px;
        }
    }
    .textWrapper > h3 {
        font-size: 14px;
        }
    .textWrapper > p {
        font-size: 10px;
    }

}

@media screen and (max-width: 425px) {
    .container > h2 {
        font-size: 14px;
        }
    .textWrapper > h3 {
            font-size: 8px;
        }
    .textWrapper > p {
        font-size: 6px;
    }
}