.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 100px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 10px;
    gap: 50px;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: auto;
    max-height: 620px;
    border-radius: 5px;
}

.text {
    font-size: 16px;
    text-align: justify;
}
.text:first-of-type{
    margin-top: 0;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0;
    }
    .text {
        font-size: smaller;
    }
    .image {
        width: 205.2px;
        height: 358.8px;
    }
}