.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.2) 100%, rgba(255, 255, 255, 0.2) 100%), url('/assets/images/main.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100%;
}

.title {
    font-size: 4em;
    font-weight: 400;
    margin: 0;
    margin-bottom: 50px;
    filter: drop-shadow(4px 2px 2px rgba(0, 0, 0, 0.386));
    color: black;
    text-transform: uppercase;
}

.videoWrapper {
    text-align: center;
    margin: 100px;
}

iframe {
    width: 60vw;
    height: 50vh;
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 3em;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 2em;
    }
    .videoWrapper {
        margin: 0;
    }
    iframe {
        width: 100vw;
        height: 50vh;
    }
}