.burger{
    align-self: flex-start;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.button{
    color: black;
    width: 20px;
    height: 30px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}
.button::before{
    color: black;
    content: '';
    position: absolute;
    top: 4px;
    width: 40px;
    background-color: black;
    height: 4px;
}

.button span {
    position: absolute;
    top: 15px;
    width: 40px;
    background-color: black;
    height: 4px;
}

.button::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 40px;
    background-color: black;
    height: 4px;
}
