.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.2) 100%, rgba(255, 255, 255, 0.2) 100%), url('../../assets/images/main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100%;
}

.header {
    width: 100%;
    height: auto;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.862);
    padding: 10px;
    align-items: center;
    min-width: 320px;
    z-index: 99;
}

.button {
    display: flex;
    padding: 0.6rem 1.3rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.title {
    text-align: center;
    filter: drop-shadow(4px 2px 2px rgba(0, 0, 0, 0.386));
    color: black;
    text-transform: uppercase;
}

.burgerMenuItem {
    color: rgb(0, 0, 0);
}


h2 {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.748);
    font-size: 24px;
    line-height: 120%;
    transition: all 0.5s ease; 
    padding: 10px;
    margin-top: 5%;
}

span {
    text-transform:none;
    text-shadow: none;
    padding: 0;

}