
.footer {
    display: grid;
    grid-template-columns: auto 1fr 2fr;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.862);
}

.footer > info > ul > li > a, .footer > info > nav > ul > li > a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding-right: 10%;
    /* text-wrap: nowrap; */
    padding: 10px;
}

.footer > .info > li > a:hover, .footer > .info > nav > ul > li > a:hover  {
    color:  #eb8fa8;
}

.footer > .info > li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    list-style: none;
}

.whatsapp::before, .telegram::before, .instagram::before, .phone::before {
    padding-right: 15px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
}

.whatsapp::before {
    background-image: url("/assets/icons/whatsapp.svg");
}

.telegram::before {
    background-image: url("/assets/icons/telegram.svg");
}

.instagram::before {
    background-image: url("/assets/icons/instagram.svg");
}

.phone::before { 
    background-image: url("/assets/icons/phone.svg");
}

.menu {
    list-style: none;
}

.footer > nav > ul {
    display: grid;
    grid-template-columns: auto;
    align-items: start;
    gap: 0;
}
.footer > nav > ul > li {
    display: block;
    border: unset;
    min-height: unset;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1024px) {
        .footer {
        grid-template-columns: auto;
    }
        .footer > nav > ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        align-items: center;
        padding: 0;
        gap: 5px;
    }
    .footer > nav > ul > li {
        display: block;
        border: 1px solid black;
        min-height: 32px;
        padding: 2px 5px;
        margin: 0;
        font-size: smaller;
    }
}