
.footer {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.862);
    > div {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

.footer > nav > ul > li > a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding-right: 10%;
}

.footer > nav > ul > li > a:hover  {
    color:  #eb8fa8;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    > p {
        font-weight: 700;
        margin: 0;
        margin-top: 13.3px;
    }
}

.whatsapp::before, .telegram::before, .instagram::before {
    padding-right: 15px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    content:"";
}

.whatsapp::before {
    background-image: url("/assets/icons/whatsapp.svg");
}

.telegram::before {
    background-image: url("/assets/icons/telegram.svg");
}

.instagram::before {
    background-image: url("/assets/icons/instagram.svg");
}

@media screen and (max-width: 1020px) {
    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 10px;
        > div {
            width: 100%;
            justify-content: space-around;
        }
    }
    
}

@media screen and (max-width: 768px) {
    .footer > div {
            font-size: smaller;
        > div > div {
            margin-bottom: 15px;
        }
        > nav > ul {
            padding: 0;
            max-width: 160px;
            > li {
                margin-bottom: 5px;
            }
        }
    }
    
}